spring.application.name=SoSRemedio
spring.datasource.url=jdbc:postgresql://localhost:5432/nome-do-banco
spring.datasource.username=user
spring.datasource.password=senha

server.port=8082
logging.level.org.springframework.security=DEBUG

app.jwt.secret=troque-essa-chave-por-uma-chave-com-pelo-menos-32-caracteres
app.jwt.issuer=sos-remedio-api
app.jwt.expiration-minutes=60

spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true